*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PresidenciaFina', sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    background-color: #F8FAFC;
    font-size: 16px;
}

header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 60px;
    padding: 0 35px;
    background-color: #F8FAFC;
    border-bottom: 1px solid #CCC;
    z-index: 100;
}

section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 60px 0;
}

img{
    object-fit: cover;
    width:100%;
}

h2 {
    color: #005520;
    font-size: 20px;
    text-align: right;
}

input[type="checkbox"]{
    width: 0;
    height: 0;
}

.logo-contenedor{
    width: 150px;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    border: 1px solid #CCC;
    border-radius: 15px;
}

.titulo{
    font-size: 1.5em;
    font-weight: 700;
    color: #00632F;
    text-align: center;
}

.alerta{
    max-width: 300px;
    padding-top: 5px;
    color: #B70404;
    font-size: 0.875em;
    font-weight: 500;
}

.btn{
    padding: 9px 18px;
    font-size: 0.875em;
    font-weight: 500;
    color: #FFF;
    background-color: #257140;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: transform .2s;
}

.btn:hover{
    transform: scale(105%);
}

.par{
    font-size: 0.875em;
    font-weight: 500;
    color: #000;
}

.lnk-contenedor{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lnk{
    font-size: 0.875em;
    font-weight: 500;
    color: #005520;
    text-decoration: none;
    cursor: pointer;
    transition: color .5s;
}

.lnk:hover{
    color: #F5A200;
    text-decoration: underline;
}

.privacidad{
    font-size: 0.875em;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.link-terminos{
    font-size: 0.875em;
    font-weight: 500;
    color: #005520;
    text-decoration: none;
    cursor: pointer;
    transition: color .5s;
}

.link-terminos:hover{
    color: #F5A200;
    text-decoration: underline;
}

.label-checkbox{
    position: absolute;
    top: 16px;
    right: 0;
    display: block;
    width: 20px;
    background-color: #F8FAFC;
    cursor: pointer;
}

.terminos-contenedor{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(52, 58, 64, 0.6);
}

.terminos-contenedor i {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 1501;
    color: #FFF;
    font-size: 22px;
    cursor: pointer;
}

.terminos {
    width: 600px;
    max-height: 100vh;
    padding: 50px;
    text-align: justify;
    background-color: #F8FAFC ;
    z-index: 1500;
    overflow-y: scroll;
}

.terminos h4 {
    padding: 20px 0;
}

.terminos p {
    padding-bottom: 10px;
}

.terminos ol {
    padding: 10px 20px;
}

.terminos li {
    padding-bottom: 10px;
}

.question-contenedor {
    position: absolute;
    top: 40%;
    right: 0;
    width: 16px;
    cursor: pointer;
}

.opacidad {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(52, 58, 64, 0.6);
}

.mostrar {
    display: flex !important;
}

.cerrar {
    cursor: pointer;
}

.bot-ayuda {
    position: fixed;
    right: 0;
    width: 200px;
    cursor: pointer;
    animation: aparecerRobot 5s ease-in-out;
}

@keyframes aparecerRobot {
    0% {
      right: -200px;
    }
    94% {
        right: -200px;
    }
    100% {
      right: 0;
    }
}

@media (max-width: 910px){
    .bot-ayuda {
        width: 150px;
    }
}

@media (max-width: 460px){
    header{
        padding: 0 15px;
    }

    h2 {
        font-size: 16px;
    }
}

@media (max-width: 650px){
    .terminos-contenedor i {
        color: #000;
    }

    .bot-ayuda {
        bottom: 0;
    }
}

@media (max-width: 500px){
    .form{
        border: none;
        padding: 30px;
    }
}

@media (max-width: 370px){
    .form{
        padding: 10px;
    }
}

@media (max-width: 300px){
    body {
        font-size: 12px;
    }
}