@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #F8FAFC;
    font-size: 16px;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 60px;
    padding-left: 35px;
    background-color: #F8FAFC;
    border-bottom: 1px solid #CCC;
    z-index: 100;
}

img {
    object-fit: cover;
    width:100%;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    min-height: 100vh;
    padding-top: 60px;
}

h1 {
    color: #00632F;
    text-align: center;
    font-size: 1.375em;
    font-weight: 700;
}

h2 {
    font-size: 1.75em;
    font-weight: 700;
    color: #00632F;
}

h3 {
    font-size: 1.25em;
    font-weight: 500;
    color: #257140;
    white-space: nowrap;
}

p {
    font-size: 1em;
    color: #ADADAD;
    white-space: nowrap;
}

.logo-contenedor {
    width: 150px;
}

.cuadro-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    border: 1px solid #CCC;
    border-radius: 15px;
}

.info-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
}

.info-contenedor-doble {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.border {
    width: 100%;
    border: 1px solid #CCC;
}

.tooltip {
    position: absolute;
    right: -30px;
    top: 5px;
    display: inline-block;
    width: 20px;
}
  
.question-mark {    
    cursor: pointer;
    position: relative;
}
  
.tooltip-text {
    display: none;
    width: 220px;
    background-color: #000;
    color: #FFF;
    text-align: center;
    padding: 5px;
    border: 1px solid #FFF;
    border-radius: 4px;
    position: absolute;
    top: -30px;
    left: -110px;
    transform: translateX(-50%);
    z-index: 1;
    user-select: none;
}
  
.tooltip:hover .tooltip-text {
    display: block;
}

@media (max-width: 500px){
    body {
        font-size: 14px;
    }

    .cuadro-contenedor {
        padding: 30px;
    }

    .doble-contenedor {
        width: 300px;
    }
}

@media (max-width: 370px){

    body {
        font-size: 10px;
    }

    .info-contenedor-doble {
        width: 200px;
    }
}